@charset "UTF-8";

.slideshow {
  background: #fff;
  height: 465px;
  min-width: 960px;
  overflow: hidden;
  position: relative;
  /* border: 5px solid red; */
}

.slideshow_slides{
  position: absolute;
  width: 100%;
  height: 100%;
}

.slideshow_slides a{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* 이미지 스프라이트처리 */
.slideshow_nav a{
  width: 71px;
  height: 71px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  background:url(../img/sprites.png) no-repeat;
  /* border: 1px solid red; */
  text-indent: -9999em;
}

.slideshow_nav a.prev{
  background-position: 0 -20px;
  margin-left: -790px;
}

.slideshow_nav a.next{
  background-position: -81px -20px;
  margin-left: 709px;
}

.indicator{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}

.indicator a{
  width: 9px;
  height: 9px;
  text-decoration: none;
  background: url(../img/sprites.png) no-repeat -113px -4px;
  margin: 0 10px;
  display: inline-block;
}

.indicator a.active{
  background-position: -134px -4px;
}
