body {
  margin: 0;
  padding: 20px;
}

.center-div {
  width: 650px;
  margin: 0 auto;
  padding-top: 5px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;

}
.inputid_div{
  width: 650px;
}
#header input {
  display: inline-block;
  padding-left: 10px;
}
#div_img_button{
  display: inline-block;
}
#inputId {
  display: inline-block;
}

#imagebutton {
  display: inline-block;
  padding-left: 20px;
  height: 30px;
  width: 80px;
}
#tablediv {
  border-bottom: 1px solid #D8D8D8;
}

table {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #D8D8D8;
  border-collapse: collapse;
}

#tabletr {
  color: #848484;
  background-color: #F2F2F2;
}

table tr td {
  padding: 7px;
  border: 1px solid #D8D8D8;
}

.Allconsent {
  font-size: 17px;
  width: 600px;
  border: 1.5px solid #D8D8D8;
  display: inline-block;
}


.consent2 {
  padding: 30px;
  margin-left: 40px;
  display: inline-block;
}

table tr td {
  padding: 7px;
  border: 1px solid #D8D8D8;
}

#bt_result {
  font-weight: bold;
  margin-top: 30px;
  margin-left: 110px;
  border: 1px solid #50b0f9;
  font-size: 20px;
  color: white;
  width: 400px;
  height: 50px;
  background-color: #50b0f9;
}
