select {
    -webkit-appearance: none;  /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    background: url("/cobrain/image/more.png") no-repeat 95% 50%;  /* 화살표 모양의 이미지 */
    background-size: 20px;

}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
    display: none;
}

.board_write{
    width: 650px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.board_write h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.board_write_item{
    width: 100%;
    text-align: left;   
    margin-bottom: 20px;
    display: flex;
}

.board_write_item label{
    display: inline-block;
    width: 18%;
    color: #1d1d1d;
    font-size: 1rem;
}

.board_write_item input{
    display: inline-block;
    width: 80%;
    color: #1d1d1d;
    font-size: 1rem;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #999;
}

.board_write_item select {
    width: 38%; /* 원하는 너비설정 */
    padding: 6px; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    border: 1px solid #999;
    border-radius: 5px; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

.board_write_item select:nth-child(2){
    margin-right: 19px;
}

textarea{
    width: 100%;
    height: 400px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #999;
    font-family: inherit;
    font-size: 1rem;
    margin-bottom: 30px;
}

#btnBoardWriteCancle{
    width: 120px;
    background-color: #dddddd;
    border: 1px solid #dddddd;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 10px;
  }
  
  #btnBoardWriteSubmit{
    width: 120px;
    background-color: #e65553;
    border: 1px solid #e65553;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    right: 27px;
    margin: 0px 10px;
  }
  
  .board_write_item input[type="file"] {
    overflow: hidden;
    border: 0;
    padding: 6px;
    width: 300px;
}
#now_file{
    width: 140px;
    position: relative;
    font-size: 0.9rem;
    top:6px;   
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
}
