*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}
#top{
  width: auto;
  height: 70px;
  position: relative;
  border-bottom: 1px solid #dddddd;
}
#top_logo{
  display: inline-block;
  padding: 13px;
}
#top ul{
  position: absolute;
  right: 30px;
  top : 35%;
  margin: 0px;
  padding: 0px;
}
#top li{
  display: inline;
}
#top li a{
  color: black;
  font-size: 0.9rem;
  text-decoration: none;
  padding: 0px 5px;
}
#user_LvPt{
  font-size: 0.8rem;
}
#menuBar{
  border-bottom: 1px solid #dddddd;
}
#menuBar ul{
  display: inline-block;
  width: auto;
  height: 100%;
  margin: 0px;
  padding: 0px;
  padding: 10px;
}
#menuBar li{
  display: inline-block;
  margin-top: 10px;
  padding: 5px;
  margin: 0px;
}

#menuBar li span{
  color: #dddddd;
  font-size: 0.8rem;
}

#menuBar li a{
  display: inline-block;
  color: black;
  font-size: 1.1rem;
  text-decoration: none;
  margin: 0px 50px;
}

#searchBarBox{
  display: inline-block;
  position: relative;
  width: 200px;
  height: 40px;
  background-color: #ececec;
  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 10px;
}

#searchBarInput{
  display: inline-block;
  position: relative;
  left: -10px;
  top: -3px;
  width: 85%;
  height: 35px;
  border: none;
  outline: none;
  padding: 0px;
  margin: 0px;
  background-color: rgba( 255, 255, 255, 0 );
}

#btnTopSearch{
  width: 28px;
  height: 28px;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0px;
  padding: 0px;
  background-image: url('../image/search.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  background-color: rgba( 255, 255, 255, 0 );
}

#searchMini{
  visibility: hidden;
  text-indent: -99999em;
  width: 24px;
  height: 100%;
  background-image: url('../image/search.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 19px 19px;
  background-color: rgba( 255, 255, 255, 0 );
}

.slideshow{
  width: 100%;
  position: relative;
}

.slideshow ul,ol{
  list-style: none;
}

.slider{
  position: relative;
}

.slider li, .slider ul{
  width: 100%;
}

.slider li img{
  width: 100%;
}

.slider .caption{
  width: 100%;
  height: 99%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: #fff;
  background-color: rgba(0,0,0,0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  z-index: 1;
}

.slider .caption h1{
  font-size: 2rem;
}

.slider .caption p{
  font-size: 1.2rem;
}

.pagination{
  position: absolute;
  top: 102%;
  width: 100%;

  display: flex;
  justify-content: center;
}

.pagination li{
  margin: 2px 5px;
  font-size: 0.7rem;
  color: #dddddd;
  cursor: pointer;
}

.left, .right{
  position: absolute;
  top: 0px;
  height: 99%;

  display: flex;
  align-items: center;

  color: #fff;
  font-size: 4rem;
  z-index: 2;
  cursor: pointer;
}

.left{
  left: 5%;
}

.right{
  right: 5%;
}


@media ( max-width: 950px ){

  #searchBarBox{
    width: 70%;
  }

  #searchBarInput{
    width: 80%;
    left: -5px;
  }

  #menuBar li a{
    font-size: 1rem;
    margin: 0px 30px;
  }

  #searchMini{
    visibility: visible;
  }

  #searchBarBox{
    display: none;
  }

}

@media ( max-width: 620px ){

  #menuBar li a{
    font-size: 0.9rem;
    margin: 0px 10px;
  }

  #searchMini{
  width: 20px;
  height: 100%;
  background-size: 16px 16px;
  }

}

/* #mainQna{
  width: 550px;
  height: 300px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  float: left;
}

#mainCom{
  width: 550px;
  height: 300px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  float: ;
}


#mainPtrank{
  width: 550px;
  height: 300px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  float: left;
} */
