body{
  font-family: 'Noto Sans KR', sans-serif;
}
#main{
  width: 450px;
  height: 550px;
}

main h2{
  font-size: 1.5rem;
  margin-bottom: 50px;
  margin-top: 100px;
}

#form_member{
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 40px 30px;
  margin-bottom: 100px;
}

#form_member_bottom h5{
  font-weight: 400;
  font-size: 0.8rem;
  padding-top: 20px;
}

#form_member_bottom h5 a{
  font-size: 0.8rem;
  text-decoration: none;
  color: #4787cf;
}

/* #btnIdCk{
  background-color: #e65553;
  border: 1px solid #e65553;
  font-size: 0.8rem;
  padding: 3px;
  border-radius: 5px;
  color: white;
}

#btnIdCk:hover{
  cursor: pointer;
} */

#btnFormSubmit{
  width: 100%;
  background-color: #e65553;
  border: 1px solid #e65553;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-top: 14px;
}

#btnFormSubmit:hover{
  cursor: pointer;
}

#btnFormSubmit:disabled {
  background: gray;
  border: 1px solid gray;
  cursor: default;
}

.subMsg{
  font-size: 0.7rem;
  color: red;
}

.formBox{
  text-align: left;
  margin-bottom: 20px;
}

.formBox label{
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 10px;
}

.formInput{
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid gray;
}

.formBox:before {
  content:"*";
  color:red;
  font-size: 1rem;
}
