textarea{
  font-family: inherit;
  font-size: inherit;
}
.message_box_contain{
  width: 600px;
  border: 1px solid #dddddd;
  margin: 70px 0px;
}

.message_box_tab_group{
  width: 100%;
  height: 50px;
}

.message_box_tab_rcv{
  width: 50%;
  height: 100%;
  float: left;
  background: #f0f0f0;
  color: #1d1d1d;
  font-size: 1.2rem;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #dddddd;
  border-top: none;
  cursor: pointer;
  border-right: 1px solid #dddddd;
}

.message_box_tab_send{
  width: 50%;
  height: 100%;
  float: left;
  background: #f0f0f0;
  color: #1d1d1d;
  font-size: 1.2rem;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #dddddd;
  border-top: none;
  cursor: pointer;
}

.on{
  background: #ffffff;
  border-bottom: none;
}

.off{
  background: #f0f0f0 ;
  border-bottom: none;
}

.message_box_content{
  padding: 20px;
}

.message_board{
  margin-bottom: 5px;
  border-top: 2px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.message_borad_header{
  list-style: none;
}

.message_borad_header li{
  display: inline-block;
}

.col1, .col2, .col3, .col4{
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  line-height: 35px;
}

.col1{
  width: 70px;
  height: 35px;
  text-align: center;
}
.col2{
  width: 250px;
  height: 35px;
  text-align: left;
}
.col3{
  width: 120px;
  height: 35px;
  text-align: center;
}
.col4{
  width: 100px;
  height: 35px;
  text-align: center;
  font-size: 0.7rem;
}

.board_header{
  font-size: 0.8rem;
  font-weight: bold;
  text-align: left;
  line-height: 35px;
  text-align: center;
}

.message_board_list_ul{
  list-style: none;
}

.message_box_paging{
  position: relative;
  width: 100%;
  height: 40px;
  margin: 30px 0px 10px 0px;
  line-height: 40px;
}

.message_box_paging span{
  color:black;
  text-decoration: none;
  font-size: 0.9rem;
  margin: 10px;
  cursor: pointer;
}

.message_box_paging button{
  position: absolute;
  right: 20px;
  top: 4px;
  width: 110px;
  background-color: #e65553;
  border: 1px solid #e65553;
  font-size: 0.9rem;
  padding: 5px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  vertical-align: middle;
}

#overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* IE7 & 8 */
  position: fixed;
  right: 0;
  top: 0;
  z-index: 98;
  display: none;
}

#popupLayer {
  width: 600px;
  background: #fff;
  border: solid 1px #ccc;
  padding: 40px;
  box-shadow: 0px 1px 20px #333;
  z-index: 99;
  display: none;
  top : 0px;
  position: absolute;
  width: 600px;
  display: none;
}

#popupLayer h3{
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.msg_form_div{
  margin: 10px 0px;
}

.msg_form_div label{
  font-size: 0.9rem;
  display: inline-block;
  width: 100px;
  text-align: left;
}

.formInput{
  display: inline-block;
  width: 350px;
  padding: 7px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #dddddd;
}

.content{
  height: 200px;
  line-height: 200px;
}

.content label, .content textarea{
  height: 200px;
  vertical-align: middle;
}

/* #rcv_id{
  width: 295px;
} */

.btn_search{
  width: 50px;
  background-color: #e65553;
  border: 1px solid #e65553;
  font-size: 0.9rem;
  padding: 6px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

#btnFormClose{
  width: 120px;
  background-color: #dddddd;
  border: 1px solid #dddddd;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin: 5px;
  cursor: pointer;
  position: absolute;
  right: 157px;
}

#btnFormSubmit{
  width: 120px;
  background-color: #e65553;
  border: 1px solid #e65553;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin: 5px;
  cursor: pointer;
  position: absolute;
  right: 27px;
}

.msg_form_btns{
  position: relative;
  height: 50px;
}

#search_id_popup{
  width: 300px;
  background: #fff;
  border: solid 1px #ccc;
  padding: 40px;
  box-shadow: 0px 1px 20px #333;
  z-index: 100;
  position: absolute;
  display: none;
}

#search_id_popup div{
  color: #1d1d1d;
  font-size: 0.7rem;
  padding: 5px;
  text-align: left;
}

.searchId{
  pointer-events: auto;
  width: 150px;
}

.searchIdResult{
  display: block;
  width: 95%;
  height: 40px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  line-height: 40px;
  font-size: 0.9rem;
  color: #1d1d1d;
  margin-top: 15px;
  cursor: pointer;
}

.searchIdResult:hover{
  background-color: #e65553;
  color: #fff;
}

#noResult{
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 0.9rem;
  color: #1d1d1d;
  margin-top: 15px;
}

#btn_close{
  width: 95%;
  height: 40px;
  background-color: #dddddd;
  border: 1px solid #dddddd;
  font-size: 0.9rem;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-top: 15px;
  cursor: pointer;
}
