#main {
  width: 450px;
  height: 550px;
}

main h2 {
  font-size: 1.5rem;
  margin-bottom: 50px;
  margin-top: 100px;
}

#form_mypage_edit {
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 40px 30px;
  margin-bottom: 100px;
}

#btnFormSubmit1 {
  width: 100%;
  background-color: #e65553;
  border: 1px solid #e65553;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
}

#btnFormSubmit1:hover {
  cursor: pointer;
}

#btnFormSubmit1:disabled {
  background: gray;
  border: 1px solid gray;
  cursor: default;
}

#btnFormSubmit2 {
  width: 40%;
  background-color: #e65553;
  border: 1px solid #e65553;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin: 5px;
  cursor: pointer;
}

#btnFormClose {
  width: 40%;
  background-color: #dddddd;
  border: 1px solid #dddddd;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin: 5px;
  cursor: pointer;
}

.subMsg {
  font-size: 0.7rem;
  color: red;
}

.formBox {
  text-align: left;
  margin-bottom: 20px;
}

.formBox label {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 10px;
}

.formInput {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid gray;
}

#overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* IE7 & 8 */
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  display: none;
}

#popupLayer {
  width: 400px;
  background: #fff;
  border: solid 1px #ccc;
  padding: 40px;
  box-shadow: 0px 1px 20px #333;
  z-index: 100;
  display: none;
  top : 0px;
  position: absolute;
  display: none;
  margin-bottom: 30px;
}


#popupLayer h3{
  font-size: 1rem;
  margin-bottom: 20px;
}
