@charset "UTF-8";

.slideshow {
  background: #000;
  height: 465px;
  min-width: 960px;
  overflow: hidden;
  position: relative;
  /* border: 5px solid red; */
}
.slideshow_slides{
  position: absolute;
  width: 100%;
  height: 100%;
    /* border: 5px solid red; */
}
.slideshow_slides a{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* 중앙에 배치시키기 위한 방법, 배경색 : 이미지 스프라이트트 */
.slideshow_nav a{
  width: 71px;
  height: 71px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  background:url(../img/sprites.png) no-repeat;
  /* border: 1px solid red; */
  text-indent: -9999em;
}
.slideshow_nav a.prev{
  background-position: 0 -20px;
  margin-left: -900px;
}

.slideshow_nav a.next{
  background-position: -81px -20px;
  margin-left: 830px;
}
.slideshow_nav a.disabled{
  display: none;
}

.slideshow_indicator{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}
/* 하얀색이미지스트라이트 */
.slideshow_indicator a{
  width: 9px;
  height: 9px;
  text-decoration: none;
  background: url(../img/sprites.png) no-repeat -113px -4px;
  margin: 0 10px;
  display: inline-block;
}

.slideshow_indicator a.active{
  background-position: -134px -4px;
}
